<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Carrinho</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/frontoffice.css}">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const calcularBtn = document.querySelector('.calcular-btn');
            const cepInput = document.querySelector('.cep-input');
            const optionsSelect = document.querySelector('.options-select');
            const valorFrete = document.querySelector('.valor-frete');
            const valorCalculo = document.querySelector('.valor-calculo');
            const calcularContainer = document.querySelector('.calcular');

            calcularBtn.addEventListener('click', function () {
                const cep = cepInput.value;

                if (!/^\d{5}-?\d{3}$/.test(cep)) {
                    alert('Por favor, insira um CEP válido.');
                    return;
                }

                calcularContainer.style.display = 'none';
                valorCalculo.style.display = 'block';

                const min = 9;
                const max = 32;
                const options = optionsSelect.options;
                for (let i = 0; i < options.length; i++) {
                    const randomValue = (Math.random() * (max - min) + min).toFixed(2);
                    options[i].text = `Opção ${i + 1} - R$ ${randomValue}`;
                    options[i].value = randomValue;
                }
            });

            optionsSelect.addEventListener('change', function () {
                const selectedValue = this.options[this.selectedIndex].value;
                valorFrete.innerText = `R$ ${selectedValue}`;

                window.location.href = `/carrinho/selecionarFrete?freteValue=${selectedValue}`;
            });
        });

        function confirmChange() {
            if (confirm("Tem certeza que deseja tirar esse produto do seu carrinho?")) {
                return true;
            } else {
                return false;
            }
        }

        function confirmarLogout() {
            var confirmacao = confirm("Você deseja fazer logout da loja?");
            if (!confirmacao) {
                event.preventDefault();
            }
            return confirmacao;
        }

        function confirmarFinalizarCompra() {
            var confirmacao = confirm("Deseja finalizar a compra?");
            if (!confirmacao) {
                event.preventDefault();
            }
            return confirmacao;
        }
    </script>
</head>

<body>
<header>
    <div th:replace="fragments/header :: header"></div>
    <button class="btn-voltar" onclick="window.location.href='/'" type="button"><img
            th:src="@{/images/seta.png}"></button>
</header>

<main class="container" role="main">
    <h2 class="meu-carrinho">Meu Carrinho</h2>
    <div class="conteudo">
        <div th:if="${#lists.isEmpty(carrinho.itens)}">
            <h3 class="carrinho-vazio">Seu carrinho de compras está vazio.</h3>
        </div>
        <div class="card-row">
            <div th:each="item : ${carrinho.itens}">
                <div class="desc-produto-row">
                    <div th:each="imagem : ${item.produto.imagens}">
                        <img alt="Imagem do Produto - ${item.produto.nome}" class="imagem-produto-carrinho"
                             th:src="@{/imagem/{id}(id=${imagem.id})}"/>
                    </div>

                    <div class="produto-carrinho">
                        <p class="info-produto"><strong>Produto:</strong></p>
                        <span th:text="${item.produto.nome}"></span>
                    </div>

                    <div class="quantidade-carrinho">
                        <p class="info-produto"><strong>Quantidade:</strong></p>
                        <div class="botao-row">
                            <form th:action="@{/carrinho/diminuirQuantidade}" method="post">
                                <input type="hidden" name="produtoId" th:value="${item.produto.id}">
                                <button type="submit" class="btn-decrementar" onclick="alterarQuantidade(-1)">-</button>
                            </form>
                            <span class="span-carrinho" th:text="${item.quantidade}"></span>
                            <form th:action="@{/carrinho/aumentarQuantidade}" method="post">
                                <input type="hidden" name="produtoId" th:value="${item.produto.id}">
                                <button type="submit" class="btn-incrementar" onclick="alterarQuantidade(1)">+</button>
                            </form>
                        </div>
                    </div>

                    <div class="preco-carrinho">
                        <p class="info-produto"><strong>Preço:</strong></p>
                        <span th:text="'R$ ' + ${#numbers.formatDecimal(item.valorItem, 1, 2)}"></span>
                    </div>

                    <form th:action="@{/carrinho/removerProduto}" method="post" onsubmit="return confirmChange()" class="botao-remover-carrinho-container">
                        <input type="hidden" name="produtoId" th:value="${item.produto.id}">
                        <button type="submit" class="botao-remover-carrinho" aria-label="Remover produto do carrinho"><img th:src="@{../images/lixeira.png}" alt="Remover produto"></button>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-column2">
            <div class="calcular">
                <strong class="titulo-entrega">Entrega</strong>
                <p class="desc-entrega">Confira as opções de entrega para seus itens.</p>
                <label for="cep" aria-hidden="true"><strong>CEP:</strong></label>
                <div class="cep-calc">
                    <input type="text" class="cep-input" id="cep" name="cep" placeholder="XXXXX-XXX" required aria-describedby="cepHelp" style="border: 1px solid #ddd; border-radius: 4px; width: 18em; height: 3em; padding: 10px">
                    <button class="calcular-btn" style="cursor: pointer; border: 1px solid #ddd; border-radius: 8px; background-color: black; color: white; margin-left: 2em; width: 12em; height: 3em;">
                        Calcular
                    </button>
                </div>
            </div>

            <div class="valor-calculo" style="margin-top: 2em; display: none;">
                <strong class="titulo-entrega">Opções de Entrega</strong>
                <select class="options-select" name="options" aria-label="Selecionar opção de entrega" style="border: 1px solid #ddd; border-radius: 4px; width: 27em; height: 3em;">
                    <option value="option1" disabled selected>Selecione uma opção</option>
                    <option value="option2"></option>
                    <option value="option3"></option>
                </select>
                <p class="valor-frete">R$0,00</p>
            </div>

            <div class="finalizar" style="margin-top: 2em;">
                <div class="finalizar-row">
                    <p class="valor-produto">Subtotal</p>
                    <span th:text="'R$ ' + ${#numbers.formatDecimal(carrinho.valorTotal, 1, 2)}"></span>
                </div>
                <div class="finalizar-row">
                    <p class="valor-frete">Frete:</p>
                    <span class="valor-frete" th:text="'R$ ' + ${#numbers.formatDecimal(carrinho.frete, 1, 2)}"></span>
                </div>
                <div class="finalizar-row">
                    <strong>Total:</strong>
                    <span th:text="'R$ ' + ${#numbers.formatDecimal(carrinho.valorComFrete, 1, 2)}"></span>
                </div>
                <form action="/carrinho/finalizar" method="post" onsubmit="">
                    <button class="btn-finalizar" onclick="confirmarFinalizarCompra()" th:disabled="${#lists.isEmpty(carrinho.itens)}"
                            type="submit">Finalizar Compra
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>

<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>

</html>