<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Produto</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/frontoffice.css}">
    <script>
        function alterarQuantidade(valor) {
            let inputQuantidade = document.getElementById('quantidade');
            let qtdEstoque = parseInt(document.getElementById('qtdEstoque').textContent);
            let novaQuantidade = parseInt(inputQuantidade.value) + valor;

            if (novaQuantidade > qtdEstoque) {
                novaQuantidade = qtdEstoque;
            }
            if (novaQuantidade < 1) {
                novaQuantidade = 1;
            }
            inputQuantidade.value = novaQuantidade;
            document.querySelector('.btn-incrementar').disabled = novaQuantidade >= qtdEstoque;
            document.querySelector('.btn-decrementar').disabled = novaQuantidade <= 1;
        }

        document.addEventListener('DOMContentLoaded', function () {
            const slides = document.querySelectorAll('.slide');
            const carrossel = document.getElementById('carrossel');
            const setaEsquerda = document.getElementById('seta-esquerda');
            const setaDireita = document.getElementById('seta-direita');
            let currentIndex = 0;

            // Mostrar ou ocultar setas baseado na quantidade de imagens
            if (slides.length <= 1) {
                setaEsquerda.style.display = 'none';
                setaDireita.style.display = 'none';
            }

            function mostrarSlide(index) {
                // Reseta a visibilidade de todos os slides
                slides.forEach((slide, i) => {
                    slide.style.display = i === index ? 'block' : 'none';
                });
            }

            function moverParaEsquerda() {
                currentIndex = (currentIndex === 0) ? slides.length - 1 : currentIndex - 1;
                mostrarSlide(currentIndex);
            }

            function moverParaDireita() {
                currentIndex = (currentIndex === slides.length - 1) ? 0 : currentIndex + 1;
                mostrarSlide(currentIndex);
            }

            setaEsquerda.addEventListener('click', moverParaEsquerda);
            setaDireita.addEventListener('click', moverParaDireita);

            // Mostrar o slide inicial
            mostrarSlide(currentIndex);
        });

        function confirmarLogout() {
            var confirmacao = confirm("Você deseja fazer logout da loja?");
            if (!confirmacao) {
                event.preventDefault();
            }
            return confirmacao;
        }
    </script>
</head>
<body>
<header>
    <div th:replace="fragments/header :: header"></div>
    <button class="btn-voltar" onclick="window.location.href='/'" type="button"><img
            th:src="@{/images/seta.png}"></button>
</header>

<main class="main-detalhe-produto-cliente">
    <section id="conteudo-container">
        <form class="conteudo-container" th:action="@{/carrinho/adicionarProduto}" method="post">
            <input type="hidden" id="produtoId" name="produtoId" th:value="${produto.id}">
            <div class="conteudo-container-imagem">
                <button type="button" class="seta esquerda" id="seta-esquerda">&#10094;</button>
                <div class="carrossel" id="carrossel">
                    <div th:each="imagem : ${produtoImagens}" class="slide">
                        <img class="conteudo-imagem" alt="Imagem do Produto" th:src="@{/imagem/{id}(id=${imagem.id})}"/>
                    </div>
                </div>
                <button type="button" class="seta direita" id="seta-direita">&#10095;</button>
            </div>
            <div class="conteudo-container-info">
                <h3><strong><span th:text="${produto.nome}"></span></strong></h3>
                <div class="avaliacao-estrelas-detalhe">
                    <p><span th:each="i : ${#numbers.sequence(1, 5)}">
                  <svg class="estrela" fill="currentColor"
                       th:classappend="${i <= produto.avaliacao} ? 'cheia' : 'vazia'" viewBox="0 0 24 24"
                       xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                  </svg>
                </span></p>
                </div>
                <p><span th:text="${produto.descricao}"></span></p>
                <h3 class="conteudo-container-info-preco"
                    th:text="'R$ ' + ${#numbers.formatDecimal(produto.preco, 1, 2)}"></h3>
                <em class="quantidade-p">Quantidade</em>
                <div class="quantidade-e-botao">
                    <div class="quantidade-produto">
                        <button type="button" class="btn-decrementar" onclick="alterarQuantidade(-1)">-</button>
                        <label for="quantidade"><input type="number" id="quantidade" value="1" name="quantidade" th:min="1" th:max="${produto.qtdEstoque}" onkeydown="return false;"></label>
                        <button type="button" class="btn-incrementar" onclick="alterarQuantidade(1)">+</button>
                        <label for="qtdEstoque" class="qtdEstoque">Quantidade em Estoque:</label>
                        <div class="quantidade-numero">
                            <input th:text="${produto.qtdEstoque}" type="hidden" id="qtdEstoque">
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn-adicionar-carrinho">Adicionar Carrinho</button>
            </div>
        </form>
    </section>
</main>

<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>
