<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/frontoffice.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Pedido</title>
</head>
<body>
<header>
    <div th:replace="fragments/header :: header"></div>
    <button class="btn-voltar" onclick="window.location.href='/pedido'" type="button">
        <img th:src="@{/images/seta.png}" alt="Voltar para página anterior">
    </button>
</header>

<main>
    <section class="detalhes-pedido-container">
        <h2>Detalhes do Pedido</h2>

        <div class="detalhes-pedido">
            <div>
                <p><strong>Número do Pedido:</strong> <span th:text="${pedido.numeroPedido}"></span></p>
                <p><strong>Status:</strong> <span th:text="${pedido.status}"></span></p>
                <p><strong>Valor Total:</strong> <span th:text="${'R$ ' + #numbers.formatDecimal(pedido.valorTotal,1,2)}"></span></p>
            </div>
            <div>
                <p><strong>Frete:</strong> <span th:text="${'R$ ' + #numbers.formatDecimal(pedido.frete,1,2)}"></span></p>
                <p><strong>Forma de Pagamento:</strong> <span th:text="${pedido.formaPagamento}"></span></p>
                <p><strong>Endereço de Entrega:</strong>
                    <span th:text="${pedido.endereco.logradouro} + ', ' + ${pedido.endereco.numero} +
                        (${pedido.endereco.complemento} != null ? ' - ' + ${pedido.endereco.complemento} : '') +
                        ', ' + ${pedido.endereco.bairro} + ', ' + ${pedido.endereco.cidade} + ' - ' + ${pedido.endereco.estado}">
                    </span>
                </p>
            </div>
        </div>

        <section class="itens-pedido-container">
            <h3>Itens do Pedido</h3>
            <div th:insert="fragments/tabela-itens-pedido :: tabela-itens-pedido"></div>
        </section>
    </section>
</main>

<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>
