<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Editar Dados do Cliente</title>
    <script>
        function validarFormulario(event) {
            const nome = document.getElementById('nome').value;
            const nomePattern = /^(?=.*\b\w{3,}\b.*\b\w{3,}\b).*$/;

            if (!nomePattern.test(nome)) {
                alert("O nome deve conter ao menos duas palavras, cada uma com no mínimo 3 letras.");
                event.preventDefault();
                return false;
            }
        }
    </script>
</head>
<body>
<h1>Editar Dados do Cliente</h1>

<form action="/cliente/editar-dados" method="post" onsubmit="validarFormulario(event)" th:object="${cliente}">

    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
    <input id="id" name="id" th:field="*{id}" type="hidden">

    <div>
        <label>Email:</label>
        <input id="email" name="email" readonly th:field="*{email}" type="text">
        <div th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Email inválido</div>
    </div>

    <div>
        <label>CPF:</label>
        <input id="cpf" name="cpf" readonly th:field="*{cpf}" type="text">
        <div th:errors="*{cpf}" th:if="${#fields.hasErrors('cpf')}">CPF inválido</div>
    </div>

    <div>
        <label for="nome">Nome Completo:</label>
        <input id="nome" name="nome" required th:field="*{nome}" type="text">
        <div th:errors="*{nome}" th:if="${#fields.hasErrors('nome')}">Nome inválido</div>
    </div>

    <div>
        <label for="dataNascimento">Data de Nascimento:</label>
        <input id="dataNascimento" name="dataNascimento" required th:field="*{dataNascimento}" type="date">
        <div th:errors="*{dataNascimento}" th:if="${#fields.hasErrors('dataNascimento')}">Data inválida</div>
    </div>

    <div>
        <label for="genero">Gênero:</label>
        <select id="genero" name="genero" required th:field="*{genero}">
            <option value="MASCULINO">Masculino</option>
            <option value="FEMININO">Feminino</option>
            <option value="OUTRO">Outro</option>
        </select>
        <div th:errors="*{genero}" th:if="${#fields.hasErrors('genero')}">Seleção de gênero inválida</div>
    </div>

    <div>
        <label for="senha">Senha (deixe em branco para manter a senha atual):</label>
        <input id="senha" name="senha" th:field="*{senha}" type="password">
        <div th:errors="*{senha}" th:if="${#fields.hasErrors('senha')}">Senha inválida</div>
    </div>

    <button type="submit">Salvar Alterações</button>
</form>

<a href="/cliente/perfil">Voltar</a>

</body>
</html>
