<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuário</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#cpf').mask('000.000.000-00');
        });

        function validateForm() {
            const senha = document.getElementById("senha").value;
            const confirmarSenha = document.getElementById("confirmar-senha").value;

            if (senha.length < 8) {
                alert("Senha deve ter no mínimo 8 caracteres.");
                return false;
            }

            if (senha !== confirmarSenha) {
                alert("Senhas não conferem.");
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
<h1>Editar Usuário</h1>


<div th:if="${mensagem}" th:text="${mensagem}" style="color:dimgray;"></div>

<form th:action="@{/editar-usuario}" th:object="${usuario}" method="post" onsubmit="return validateForm()">
    <input th:field="*{id}" type="hidden"/>
    <label for="nome">Nome:</label>
    <input id="nome" name="nome" required th:field="*{nome}" type="text"/><br/>

    <label for="cpf">CPF:</label>
    <input id="cpf" maxlength="14" name="cpf" required th:field="*{cpf}" type="text"/><br/>

    <label for="senha">Senha:</label>
    <input id="senha" name="senha" required th:field="*{senha}" type="password"/><br/>

    <label for="confirmar-senha">Confirmar Senha:</label>
    <input id="confirmar-senha" name="confirmar-senha" required type="password"/><br/>

    <div th:if="${!isEditingOwnProfile}">
        <label for="grupo">Grupo:</label>
        <select id="grupo" name="group" required th:field="*{grupo}">
            <option value="ADMINISTRADOR">Administrador</option>
            <option value="FUNCIONARIO">Funcionário</option>
        </select><br>
    </div>

    <button type="submit">Editar</button>

</form>

<button onclick="window.location.href='/lista-usuarios'" type="button">Cancelar</button>
</body>
</html>