<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/frontoffice.css}">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Perfil do Cliente</title>
    <script>
        function confirmarLogout() {
            var confirmacao = confirm("Você deseja fazer logout da loja?");
            if (!confirmacao) {
                event.preventDefault();
            }
            return confirmacao;
        }
    </script>
</head>
<body>
<header>
    <div th:replace="fragments/header :: header"></div>
    <button class="btn-voltar" onclick="window.location.href='/'" type="button"><img
            th:src="@{/images/seta.png}"></button>
</header>

<main class="main-perfil-cliente">
    <div class="profile-container">
        <h1 class="form-title">Perfil do Cliente</h1>

        <div id="mensagem" class="message-container" th:text="${mensagem}"></div>

        <div class="profile-details">
            <p><strong>Nome:</strong> <span th:text="${cliente.nome}"></span></p>
            <p><strong>Email:</strong> <span th:text="${cliente.email}"></span></p>
            <p><strong>CPF:</strong> <span th:text="${cliente.cpf}"></span></p>
            <p><strong>Gênero:</strong> <span th:text="${cliente.genero}"></span></p>
            <p><strong>Data de Nascimento:</strong> <span th:text="${#dates.format(cliente.dataNascimento, 'dd/MM/yyyy')}"></span></p>
        </div>

        <div class="button-container-cliente">
            <button class="btn-limpar" onclick="window.location.href='/cliente/editar-dados'" type="button">Editar
                Dados
            </button>
            <button class="btn-limpar" onclick="window.location.href='/endereco/lista-enderecos'" type="button">Editar
                Endereços
            </button>
        </div>
    </div>
</main>
<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>
