<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winery</title>
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/frontoffice.css}">
    <script>
        function confirmarLogout() {
            var confirmacao = confirm("Você deseja fazer logout da loja?");
            if (!confirmacao) {
                event.preventDefault();
            }
            return confirmacao;
        }
    </script>
</head>
<body>
<header>
    <section id="header">
        <a href="/"><img alt="logo_winery" class="logo" th:src="@{/images/logo_winery.png}"></a>

        <div>
            <ul id="navbar">
                <li><a class="active" href="/">Início</a></li>
                <li><a class="link-navbar" href="#produtos1">Produtos</a></li>
                <li>
                    <a href="/carrinho">
                        <img alt="carrinho" th:src="@{/images/sacola.png}">
                        <span class="quantidade-itens" th:text="${carrinho != null ? carrinho.itens.size() : 0}"></span>
                    </a>
                </li>

                <li sec:authorize="isAuthenticated()">
                    <div class="dropdown">
                        <a class="icone-navbar"><img alt="user" th:src="@{/images/user.png}"></a>
                        <div class="dropdown-content">
                            <a href="/cliente/perfil">Editar Perfil</a>
                            <a href="/cliente/logout" onclick="confirmarLogout()">Sair</a>
                        </div>
                    </div>
                </li>

                <li sec:authorize="!isAuthenticated()">
                    <a class="icone-navbar" href="login"><img alt="login" th:src="@{/images/user.png}"></a>
                </li>
            </ul>
        </div>
    </section>
</header>


<main>
    <section id="banner">
        <div class="banner">
            <h1 class="frase-cima">Cada garrafa conta uma história.</h1>
            <div class="frase">
                <h1>Escolha a sua na</h1>
                <h1 class="frase-palavra">WINERY!</h1>
            </div>
            <h3>Vinhos com até 60% de desconto!</h3>
            <a href="#produtos1" class="btn-compre">Compre agora!</a>
        </div>
    </section>

    <section class="section-p1" id="produtos1">
        <h2>Mais Vendidos</h2>
        <p>Vinhos de Qualidade</p>
        <div class="pro-container">
            <div class="pro" th:each="produto : ${produtos}">
                <div class="image-container">
                    <img alt="Imagem do Produto" class="img-produto"
                         th:src="@{/imagem/{id}(id=${produto.imagemPrincipal.id})}">
                </div>
                <div class="des">
                    <h4 th:text="${produto.nome}">Nome do Produto</h4>
                </div>
                <div class="preco-saiba-mais">
                    <div class="avaliacao-estrelas">
            <span th:each="i : ${#numbers.sequence(1, 5)}">
                <svg class="estrela" fill="currentColor" th:classappend="${i <= produto.avaliacao} ? 'cheia' : 'vazia'"
                     viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                </svg>
            </span>
                    </div>
                    <h4 class="preco-produto" th:text="'R$ ' + ${#numbers.formatDecimal(produto.preco, 1, 2)}">
                        Preço</h4>
                    <div class="saiba-mais-container">
                        <a th:href="@{/detalhes-produto-cliente(id=${produto.id})}">Saiba mais!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer>
    <div class="rodape">
        <a href="index.html" class="logo-rodape"><img th:src="@{images/logo_winery.png}" alt="logo_winery"></a>
        <div class="footer-container">
            <div class="navegacao">
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Produtos</a></li>
                </ul>
            </div>
            <div class="contatos">
                <ul>
                    <li>
                        <a href="#"><img th:src="@{images/phone.svg}" alt="telefone"/>(11) 3881-3637</a>
                    </li>
                    <li>
                        <a href="#"><img th:src="@{images/whatsapp.svg}" alt="whatsapp"/>(11)
                            98066-7105</a>
                    </li>
                    <li>
                        <a href="#"><img th:src="@{images/email.svg}" alt="email"/>winery@gmail.com</a>
                    </li>
                </ul>
            </div>
            <div class="redes-sociais">
                <ul>
                    <li>
                        <a href="#"><img th:src="@{images/linkedin.svg}" alt="linkedin"/></a>
                    </li>
                    <li>
                        <a href="#"><img th:src="@{images/facebook.svg}" alt="facebook"/></a>
                    </li>
                    <li>
                        <a href="#"><img th:src="@{images/instagram.svg}" alt="instagram"/></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="rodape-frase">
        <p>Winery - Projeto Integrador - 4ª Semestre</p>
    </div>
</footer>
</body>
</html>
