<!DOCTYPE html>
<html lang="pt-BR" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gerenciar Endereços</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/frontoffice.css}">
    <script>
        $(document).ready(function () {
            $('#adicionar-novo-endereco').on('click', function () {
                window.location.href = '/endereco/adicionar';
            });
        });
    </script>
</head>
<body>

<header>
    <div th:replace="fragments/header :: header"></div>
    <button class="btn-voltar" onclick="window.location.href='/cliente/perfil'" type="button"><img
            th:src="@{/images/seta.png}"></button>
</header>

<main class="main-lista-enderecos">
<section class="lista-endercos">
    <div id="mensagem" th:text="${mensagem}"></div>
    <section class="endereco-faturamento-container">
        <h2 class="form-title">Endereço de Faturamento</h2>
        <div class="endereco-faturamento" th:if="${enderecoFaturamento != null}">
            <div>
                <p><strong>Logradouro:</strong> <span th:text="${enderecoFaturamento.logradouro}"></span></p>
                <p><strong>CEP:</strong> <span th:text="${enderecoFaturamento.cep}"></span></p>
                <p><strong>Número:</strong> <span th:text="${enderecoFaturamento.numero}"></span></p>
            </div>
            <div>
                <p><strong>Complemento:</strong> <span th:text="${enderecoFaturamento.complemento}"></span></p>
                <p><strong>Cidade:</strong> <span th:text="${enderecoFaturamento.cidade}"></span></p>
                <p><strong>Estado:</strong> <span th:text="${enderecoFaturamento.estado}"></span></p>
            </div>
        </div>
        <div th:unless="${enderecoFaturamento != null}">
            <p>Nenhum endereço de faturamento cadastrado.</p>
        </div>
    </section>


    <section>
        <div class="lista-enderecos">
            <h2 class="form-title">Endereços de Entrega</h2>
            <form method="get" th:action="@{/endereco/cadastrar}">
                <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
                <button type="submit" class="btn-novo-endereco">Adicionar Novo Endereço</button>
            </form>
        </div>
        <div th:replace="~{fragments/tabela-enderecos :: tabela-enderecos(enderecos=${enderecos})}"></div>
    </section>
</section>
</main>

<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>

</body>
</html>
