<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script>
    function validateForm() {
        const email = document.getElementById("email").value;
        const senha = document.getElementById("senha").value;
        const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        if (!emailPattern.test(email)) {
            alert("Email inválido.");
            return false;
        }

        if (senha.length < 8) {
            alert("Senha deve ter no mínimo 8 caracteres.");
            return false;
        }

        return true;
    }

</script>
</head>
<body>
<form th:action="@{/login-acess}" th:object="${usuario}" method="post" onsubmit="return validateForm()">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email"  th:field="*{email}" required /><br/>
    <br>
    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha"  th:field="*{senha}" required /><br/>
    <br>
    <button id="botao-login" type="submit">Entrar</button>
</form>

</body>
</html>
