<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Login</title>
</head>
<body>
<main class="listar-usuario-container">
    <h1>Login</h1>

    <div class="header-container">
        <div th:if="${session.error}" th:text="${session.error}"></div>

        <form th:action="@{/login}" method="post">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <label for="email">Email:</label>
            <input id="email" name="email" required type="email"/><br/>

            <label for="senha">Senha:</label>
            <input id="senha" name="senha" required type="password"/><br/>

            <button type="submit">Login</button>
        </form>
    </div>
</main>
</body>
</html>
