<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Winery</title>
</head>
<body>

<header>
    <nav>
        <div class="logo-container">
            <img th:src="@{images/logo_winery.png}" alt="logo_winery" class="logo">
        </div>
    </nav>
</header>

<main class="main-login">
    <section class="form-container">
        <h2 class="form-title">Login</h2>

        <form th:action="@{/login}" method="post" class="login-form">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>

            <div class="input-group">
                <label for="email">Usuário:</label>
                <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
            </div>

            <div class="input-group">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
            </div>

            <div th:if="${session.error}" th:text="${session.error}" class="error-message"></div>

            <div class="button-group">
                <button type="submit" class="btn-padrao">Entrar</button>
                <a href="/" class="btn-cancel">Cancelar</a>
            </div>
        </form>
        <a href="/cliente/cadastro">Cadastrar</a>
    </section>
</main>

</body>
</html>
