<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Cliente</title>
    <link rel="stylesheet" th:href="@{/css/frontoffice.css}">
    <script>
        function buscarCep() {
            var cep = document.getElementById("cep").value;
            cep = cep.replace(/\D/g, '');

            if (cep.length !== 8) {
                alert("Por favor, insira um CEP válido com 8 dígitos.");
                return;
            }

            var url = `https://viacep.com.br/ws/${cep}/json/`;

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    if (data.erro) {
                        alert("CEP não encontrado.");
                        return;
                    }

                    document.getElementById("cep").value = cep;
                    document.getElementById("logradouro").value = data.logradouro;
                    document.getElementById("bairro").value = data.bairro;
                    document.getElementById("cidade").value = data.localidade;
                    document.getElementById("estado").value = data.uf;
                })
                .catch(error => {
                    console.error("Erro ao buscar o CEP:", error);
                    alert("Erro ao buscar o CEP.");
                });
        }

        function validarCPF(cpf) {
            cpf = cpf.replace(/[^\d]+/g, '');

            if (cpf.length !== 11 || /^(\d)\1{10}$/.test(cpf)) {
                return false;
            }

            let soma = 0;
            for (let i = 0; i < 9; i++) {
                soma += parseInt(cpf.charAt(i)) * (10 - i);
            }
            let primeiroDigito = 11 - (soma % 11);
            primeiroDigito = primeiroDigito > 9 ? 0 : primeiroDigito;

            if (parseInt(cpf.charAt(9)) !== primeiroDigito) {
                return false;
            }

            soma = 0;
            for (let i = 0; i < 10; i++) {
                soma += parseInt(cpf.charAt(i)) * (11 - i);
            }
            let segundoDigito = 11 - (soma % 11);
            segundoDigito = segundoDigito > 9 ? 0 : segundoDigito;

            return parseInt(cpf.charAt(10)) === segundoDigito;
        }

        function validarFormulario(event) {
            const nomeInput = document.getElementById("nome").value;
            const emailInput = document.getElementById("email").value;
            const cpfInput = document.getElementById("cpf").value;
            const senhaInput = document.getElementById("senha").value;
            const generoInput = document.getElementById("genero").value;
            const dataNascimentoInput = document.getElementById("dataNascimento").value;

            // Verifica se todos os campos obrigatórios estão preenchidos
            if (!nomeInput || !emailInput || !cpfInput || !senhaInput || !generoInput || !dataNascimentoInput) {
                event.preventDefault();
                alert("Por favor, preencha todos os campos obrigatórios.");
                return false;
            }

            // Valida o CPF
            if (!validarCPF(cpfInput)) {
                event.preventDefault(); // Impede o envio do formulário
                alert("CPF inválido. Por favor, insira um CPF válido.");
                return false;
            }

            return true; // O formulário é válido
        }

        function mostrarNovoFormulario() {
            var novoFormulario = document.getElementById("forms-endereco-entrega");
            novoFormulario.style.display = novoFormulario.style.display === "none" ? "block" : "none";
        }

        function validarFormularioEndereco(event) {
            const cepInput = document.getElementById("cepEntrega").value;
            const logradouroInput = document.getElementById("logradouroEntrega").value;
            const numeroInput = document.getElementById("numeroEntrega").value;
            const bairroInput = document.getElementById("bairroEntrega").value;
            const cidadeInput = document.getElementById("cidadeEntrega").value;

            if (!cepInput || !logradouroInput || !numeroInput || !bairroInput || !cidadeInput) {
                event.preventDefault();
                alert("Por favor, preencha todos os campos obrigatórios.");
                return false;
            }

            return true;
        }

        function buscarCepEntrega() {
            var cep = document.getElementById("cepEntrega").value;
            cep = cep.replace(/\D/g, '');

            if (cep.length !== 8) {
                alert("Por favor, insira um CEP válido com 8 dígitos.");
                return;
            }

            var url = `https://viacep.com.br/ws/${cep}/json/`;

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    if (data.erro) {
                        alert("CEP não encontrado.");
                        return;
                    }

                    document.getElementById("cepEntrega").value = cep;
                    document.getElementById("logradouroEntrega").value = data.logradouro;
                    document.getElementById("bairroEntrega").value = data.bairro;
                    document.getElementById("cidadeEntrega").value = data.localidade;
                    document.getElementById("estadoEntrega").value = data.uf;
                })
                .catch(error => {
                    console.error("Erro ao buscar o CEP:", error);
                    alert("Erro ao buscar o CEP.");
                });
        }
    </script>
</head>
<body>
<header>
    <section id="header">
        <a href="/"><img alt="logo_winery" class="logo" th:src="@{/images/logo_winery.png}"></a>

        <div>
            <ul id="navbar">
                <li><a class="active" href="/">Início</a></li>
                <li><a class="link-navbar" href="/">Produtos</a></li>
                <li><a href="/carrinho/abrirCarrinho"><img alt="carrinho" th:src="@{/images/sacola.png}"></a></li>
                <li><a class="icone-navbar" href="login"><img alt="login" th:src="@{/images/user.png}"></a></li>
            </ul>
        </div>
    </section>
    <button class="btn-voltar" onclick="window.location.href='/'" type="button"><img th:src="@{/images/seta.png}"></button>
</header>
<h1>Cadastrar-se</h1>

<div th:if="${mensagem}">
    <p style="color: red;" th:text="${mensagem}"></p>
</div>
<form method="post" onsubmit="return validarFormulario(event);" th:action="@{/cliente/cadastro}">
    <div>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" th:field="*{cliente.nome}" required/>
        <div th:errors="*{cliente.nome}" th:if="${#fields.hasErrors('nome')}"></div>
    </div>

    <div>
        <label for="email">Email:</label>
        <input id="email" required th:field="*{cliente.email}" type="email"/>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{cliente.email}"></div>
    </div>

    <div>
        <label for="cpf">CPF:</label>
        <input id="cpf" required th:field="*{cliente.cpf}" type="text"/>
        <div th:if="${#fields.hasErrors('cpf')}" th:errors="*{cliente.cpf}"></div>
    </div>

    <div>
        <label for="senha">Senha:</label>
        <input id="senha" required th:field="*{cliente.senha}" type="password"/>
        <div th:if="${#fields.hasErrors('senha')}" th:errors="*{cliente.senha}"></div>
    </div>

    <div>
        <label for="genero">Gênero:</label>
        <select id="genero" required th:field="*{cliente.genero}">
            <option value="MASCULINO">Masculino</option>
            <option value="FEMININO">Feminino</option>
            <option value="OUTRO">Outro</option>
        </select>
        <div th:if="${#fields.hasErrors('genero')}" th:errors="*{cliente.genero}"></div>
    </div>

    <div>
        <label for="dataNascimento">Data de Nascimento:</label>
        <input id="dataNascimento" required th:field="*{cliente.dataNascimento}" type="date"/>
        <div th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{cliente.dataNascimento}"></div>
    </div>

    <h3>Endereço de Faturamento</h3>
    <div>
        <label for="cep">CEP:</label>
        <input type="text" id="cep" placeholder="Insira seu CEP" required />
        <button type="button" onclick="buscarCep()">Buscar</button>
        <div th:if="${#fields.hasErrors('cep')}" th:errors="*{cliente.endereco.cep}"></div>
    </div>

    <div>
        <label for="logradouro">Logradouro:</label>
        <input type="text" id="logradouro" th:field="*{cliente.endereco.logradouro}" required />
        <div th:if="${#fields.hasErrors('logradouro')}" th:errors="*{cliente.endereco.logradouro}"></div>
    </div>

    <div>
        <label for="numero">Número:</label>
        <input type="text" id="numero" th:field="*{cliente.endereco.numero}" required />
        <div th:if="${#fields.hasErrors('numero')}" th:errors="*{cliente.endereco.numero}"></div>
    </div>

    <div>
        <label for="bairro">Bairro:</label>
        <input type="text" id="bairro" th:field="*{cliente.endereco.bairro}" required />
        <div th:if="${#fields.hasErrors('bairro')}" th:errors="*{cliente.endereco.bairro}"></div>
    </div>

    <div>
        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade" th:field="*{cliente.endereco.cidade}" required />
        <div th:if="${#fields.hasErrors('cidade')}" th:errors="*{cliente.endereco.cidade}"></div>
    </div>

    <div>
        <label for="estado">Estado:</label>
        <input type="text" id="estado" th:field="*{cliente.endereco.estado}" required />
        <div th:if="${#fields.hasErrors('estado')}" th:errors="*{cliente.endereco.estado}"></div>
    </div>

    <h3>Endereço de Entrega</h3>
    <button type="button" onclick="mostrarNovoFormulario()">Adicionar Endereço de Entrega</button>
    <div id="forms-endereco-entrega" style="display: none;">
        <div>
            <label for="cepEntrega">CEP:</label>
            <input type="text" id="cepEntrega" placeholder="Insira o CEP" required />
            <button type="button" onclick="buscarCepEntrega()">Buscar</button>
            <div th:if="${#fields.hasErrors('cepEntrega')}" th:errors="*{cliente.enderecoEntrega.cep}"></div>
        </div>

        <div>
            <label for="logradouroEntrega">Logradouro:</label>
            <input type="text" id="logradouroEntrega" th:field="*{cliente.enderecoEntrega.logradouro}" required />
            <div th:if="${#fields.hasErrors('logradouroEntrega')}" th:errors="*{cliente.enderecoEntrega.logradouro}"></div>
        </div>

        <div>
            <label for="numeroEntrega">Número:</label>
            <input type="text" id="numeroEntrega" th:field="*{cliente.enderecoEntrega.numero}" required />
            <div th:if="${#fields.hasErrors('numeroEntrega')}" th:errors="*{cliente.enderecoEntrega.numero}"></div>
        </div>

        <div>
            <label for="bairroEntrega">Bairro:</label>
            <input type="text" id="bairroEntrega" th:field="*{cliente.enderecoEntrega.bairro}" required />
            <div th:if="${#fields.hasErrors('bairroEntrega')}" th:errors="*{cliente.enderecoEntrega.bairro}"></div>
        </div>

        <div>
            <label for="cidadeEntrega">Cidade:</label>
            <input type="text" id="cidadeEntrega" th:field="*{cliente.enderecoEntrega.cidade}" required />
            <div th:if="${#fields.hasErrors('cidadeEntrega')}" th:errors="*{cliente.enderecoEntrega.cidade}"></div>
        </div>

        <div>
            <label for="estadoEntrega">Estado:</label>
            <input type="text" id="estadoEntrega" th:field="*{cliente.enderecoEntrega.estado}" required />
            <div th:if="${#fields.hasErrors('estadoEntrega')}" th:errors="*{cliente.enderecoEntrega.estado}"></div>
        </div>
    </div>

    <button type="submit">Cadastrar</button>
</form>
</body>
</html>
