<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Endereço de Entrega</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/frontoffice.css}">
    <script th:src="@{/js/buscarCep.js}"></script>
    <script>

        function validarFormulario(event) {
            const cepInput = document.getElementById("cep").value;
            const logradouroInput = document.getElementById("logradouro").value;
            const numeroInput = document.getElementById("numero").value;
            const bairroInput = document.getElementById("bairro").value;
            const cidadeInput = document.getElementById("cidade").value;
            const estadoInput = document.getElementById("estado").value;

            if (!cepInput || !logradouroInput || !numeroInput || !bairroInput || !cidadeInput || !estadoInput) {
                event.preventDefault();
                alert("Por favor, preencha todos os campos obrigatórios.");
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
<header>
    <div th:replace="fragments/header :: header"></div>
    <button class="btn-voltar" onclick="window.location.href='/'" type="button"><img
            th:src="@{/images/seta.png}"></button>
</header>

<main class="main-adicionar-novo-endereco">
    <section class="form-container">
        <h2 class="form-title">Cadastrar Endereço de Entrega</h2>

        <div th:if="${mensagem}">
            <p style="color: red;" th:text="${mensagem}"></p>
        </div>

            <form method="post" onsubmit="return validarFormulario(event);" th:action="@{/endereco/cadastrar}"
              th:object="${endereco}">
            <div class="input-group">
                <label for="cep">CEP:</label>
                <div class="campo-cep">
                    <input id="cep" required th:field="*{cep}" type="text" maxlength="8" oninput="buscarCep(this.value)"/>
                    <div th:errors="*{cep}" th:if="${#fields.hasErrors('cep')}"></div>
                </div>
            </div>

            <div class="input-group">
                <label for="logradouro">Logradouro:</label>
                <input id="logradouro" required th:field="*{logradouro}" type="text" readonly/>
                <div th:errors="*{logradouro}" th:if="${#fields.hasErrors('logradouro')}"></div>
            </div>

            <div class="input-group">
                <label for="numero">Número:</label>
                <input id="numero" required th:field="*{numero}" type="text"/>
                <div th:errors="*{numero}" th:if="${#fields.hasErrors('numero')}"></div>
            </div>

            <div class="input-group">
                <label for="complemento">Complemento</label>
                <input id="complemento" th:field="*{complemento}" type="text">
                <div th:erros="*{complemento}" th:if="${#fields.hasErrors('complemento')}"></div>
            </div>

            <div class="input-group">
                <label for="bairro">Bairro:</label>
                <input id="bairro" required th:field="*{bairro}" type="text" readonly/>
                <div th:errors="*{bairro}" th:if="${#fields.hasErrors('bairro')}"></div>
            </div>

            <div class="input-group">
                <label for="cidade">Cidade:</label>
                <input id="cidade" required th:field="*{cidade}" type="text" readonly>
                <div th:errors="*{cidade}" th:if="${#fields.hasErrors('cidade')}"></div>
            </div>

            <div class="input-group">
                <label for="estado">Estado:</label>
                <input id="estado" required th:field="*{estado}" type="text" readonly/>
                <div th:errors="*{estado}" th:if="${#fields.hasErrors('estado')}"></div>
            </div>

            <button type="submit" class="btn-padrao">Cadastrar Endereço</button>
        </form>
    </section>
</main>

<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>

</body>
</html>
