<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#cpf').mask('000.000.000-00');
        });

        function validateForm() {
            const cpf = document.getElementById("cpf").value.replace(/[^\d]+/g, '');
            const email = document.getElementById("email").value;
            const senha = document.getElementById("senha").value;
            const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

            if (!validateCPF(cpf)) {
                alert("CPF inválido.");
                return false;
            }

            if (!emailPattern.test(email)) {
                alert("Email inválido.");
                return false;
            }

            if (senha !== document.getElementById("confirmar-senha").value) {
                alert("Senhas não conferem.");
                return false;
            }

            return true;
        }

        function validateCPF(cpf) {
            if (cpf.length !== 11 || /^(\d)\1{10}$/.test(cpf)) {
                return false;
            }
            let sum = 0;
            for (let i = 0; i < 9; i++) {
                sum += parseInt(cpf.charAt(i)) * (10 - i);
            }
            let remainder = 11 - (sum % 11);
            if (remainder === 10 || remainder === 11) {
                remainder = 0;
            }
            if (remainder !== parseInt(cpf.charAt(9))) {
                return false;
            }
            sum = 0;
            for (let i = 0; i < 10; i++) {
                sum += parseInt(cpf.charAt(i)) * (11 - i);
            }
            remainder = 11 - (sum % 11);
            if (remainder === 10 || remainder === 11) {
                remainder = 0;
            }
            if (remainder !== parseInt(cpf.charAt(10))) {
                return false;
            }
            return true;
        }

        function clearForm() {
            document.getElementById("nome").value = "";
            document.getElementById("email").value = "";
            document.getElementById("cpf").value = "";
            document.getElementById("senha").value = "";
            document.getElementById("confirmar-senha").value = "";
            document.getElementById("grupo").selectedIndex = 0;
        }

    </script>
</head>
<body>

<header>
    <nav>
        <div class="logo-container">
            <img th:src="@{images/logo_winery.png}" alt="logo_winery" class="logo">
            <div class="dropdown">
                <button class="dropdown-btn" sec:authorize="isAuthenticated()">
                    [[${#authentication.name}]] &#9662;
                </button>
                <div class="dropdown-content">
                    <form method="post" th:action="@{/logout}">
                        <button class="btn-logout" type="submit">Sair</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>

<button class="btn-voltar" onclick="window.location.href='/lista-usuarios'" type="button"><img
        th:src="@{images/seta.png}"></button>

<main class="main-cadastro-usuario">
        <section class="form-container">
            <h2 class="form-title">Cadastro de Usuário</h2>
            <div th:if="${mensagem}" th:text="${mensagem}" style="color:dimgray;"></div>

            <form th:action="@{/cadastro-funcionario}" th:object="${usuario}" method="post"
                  onsubmit="return validateForm()">

                <div class="input-group">
                    <label for="nome">Nome:</label>
                    <input id="nome" name="nome" required th:field="*{nome}" type="text"/><br/>
                </div>

                <div class="input-group">
                    <label for="email">Email:</label>
                    <input id="email" name="email" required th:field="*{email}" type="email"/><br/>
                </div>

                <div class="input-group">
                    <label for="cpf">CPF:</label>
                    <input id="cpf" maxlength="14" name="cpf" required th:field="*{cpf}" type="text"/><br/>
                </div>

                <div class="input-group">
                    <label for="senha">Senha:</label>
                    <input id="senha" name="senha" required th:field="*{senha}" type="password"/><br/>
                </div>

                <div class="input-group">
                    <label for="confirmar-senha">Confirmar Senha:</label>
                    <input id="confirmar-senha" name="confirmar-senha" required type="password"/><br/>
                </div>

                <div class="input-group">
                    <label for="grupo">Grupo:</label>
                    <select id="grupo" name="grupo" class="select-field" th:field="*{grupo}" required>
                        <option value="ADMINISTRADOR" class="option-select">ADMINISTRADOR</option>
                        <option value="ESTOQUISTA" class="option-select">ESTOQUISTA</option>
                        <option value="CLIENTE" class="option-select">CLIENTE</option>
                    </select><br/>
                </div>

                <div class="button-group">
                    <button type="submit" class="btn-padrao">Cadastrar</button>
                    <button onclick="clearForm()" type="button" class="btn-limpar">Limpar</button>
                </div>
            </form>
        </section>
</main>
</body>
</html>