@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

:root {
    --cor-principal-vinho: #5C0A0A;
    --hover-vinho: #930000;
    --cinza-claro: #DCDCDC;
    --cinza-escuro: #242424;
    --hover-cinza-escuro: #141414;
    --dourado-estrelas: #C1A57B;
    --bege: #F5E6CC;
    --branco: #fff;
    --font-size-base: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    font-size: var(--font-size-base);
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--cinza-escuro);
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--cinza-escuro);
    line-height: 1.2;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cinza-escuro);
    line-height: 1.2;
}

h4 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--cinza-escuro);
    line-height: 1.2;
}

p {
    color: var(--cinza-escuro);
}

.section-p1 {
    padding: 2.5rem 10vw;
}

.section-m1 {
    padding: 2.5rem 0;
}

/* HEADER */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 5vw;
    background: var(--branco);
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-principal-vinho);
    transition: 0.3s ease;
}

#navbar li a img {
    width: 1.5rem;
}

.link-navbar {
    margin: 0 2vw;
}

#navbar li a:hover,
#navbar li a.active {
    color: var(--hover-vinho);
    font-weight: 600;
}

.logo {
    width: 12vw;
}

.icone-navbar {
    margin: 0 0 0 2vw;
}

/* MAIN */
.main-detalhe-produto, main-detalhe-produto-cliente{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/* TELA DE DETALHE DE PRODUTO */
.conteudo-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    background-color: #fff;
    margin: 2vh;
    padding: 3vw;
    border-radius: 2vw;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.15);
    width: 95vw;
}

.conteudo-container-imagem {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}
.slide {
    display: none;
}

/* Setas de navegação */
.seta {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2em;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.seta.esquerda {
    left: 10px;
}

.seta.direita {
    right: 10px;
}

.carrossel img {
    transition: all 1.0s ease-in-out;
}

.conteudo-imagem {
    width: 100%;
    height: auto;
}

.conteudo-container-info{
    margin: 2vh;
    padding: 3vw;
    text-align: left;
}

.conteudo-container-info p, .conteudo-container-info-preco {
    margin-bottom: 2vw;
    line-height: 1.2;
}

.btn-decrementar, .btn-incrementar {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #d1d1d1;
    color: #333;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}

.btn-decrementar:hover, .btn-incrementar:hover {
    background-color: #b3b3b3;
}

.btn-decrementar:disabled, .btn-incrementar:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
    color: #aaa;
}

input#quantidade {
    width: 60px;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    margin: 0 10px;
}

.quantidade-produto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.btn-adicionar-carrinho {
    background-color: #4CAF50;
    color: white;
    padding: 1vw 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1vw;
    text-align: center;
    transition: background-color 0.3s ease;
}

.quantidade-numero {
    margin-left: 0.5vw ;
}

.btn-adicionar-carrinho:hover {
    background-color: #930000;
}

.quantidade-e-botao {
    display: flex;
    align-items: center;
}

/* BANNER */
#banner {
    background-image: url("../images/banner.png");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 25% right 0;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
}

.banner {
    padding: 0 0 5vw 6vw;
}

.banner h1 {
    font-size: 2.5vw;
    margin-bottom: 2vh;
}

.banner h3 {
    font-size: 1.5vw;
    color: var(--bege);
    margin-bottom: 10vh;
}

.frase {
    display: flex;
    margin-bottom: 2vh;
}

.frase h1 {
    font-size: 2.5vw;
}

.frase-palavra {
    font-weight: 800;
    color: var(--cor-principal-vinho);
    margin-left: 1vw;
}

.btn-voltar {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    align-self: flex-start;
    margin: 2vw 5vh;
}

.btn-voltar:hover img {
    opacity: 0.7;
}

.btn-compre {
    text-decoration: none;
    color: var(--branco);
    background: var(--cor-principal-vinho);
    padding: 1vw 2vw;
    border-radius: 1vw;
    transition: 0.3s ease;
    font-size: 1.5vw;
    font-weight: 600;
}

.btn-compre:hover {
    background: var(--hover-vinho);
}


.quantidade-e-botao {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-adicionar-carrinho{
    text-decoration: none;
    color: var(--branco);
    background: var(--cor-principal-vinho);
    padding: 1vw 2vw;
    border-radius: 1vw;
    transition: 0.3s ease;
    font-size: 1.5vw;
    font-weight: 600;
}

.quantidade-produto button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
}

.quantidade-produto input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 16px;
    margin: 0 5px;
}

/*MAIS VENDIDOS e NOVAS SAFRAS*/
.pro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2vw;
    margin-top: 2vw;
}

.pro {
    background-color: var(--branco);
    border: 1px solid var(--cinza-claro);
    border-radius: 1vw;
    padding: 1.5rem;
    width: calc(25% - 2rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pro img {
    width: 100%;
    margin-bottom: 2vw;
}

.pro:hover {
    transform: scale(1.05);
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.2);
}

.des {
    text-align: left;
    flex-grow: 1;
}

.preco-saiba-mais {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.preco-produto {
    font-size: 1.25vw;
    color: var(--cor-principal-vinho);
    font-weight: 600;
    margin-bottom: 1vw;
}

#protutos1 h2, #protutos2 h2 {
    font-weight: 700;
}

.des h4 {
    margin-bottom: 0.5vw;
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 1.2vw;
}

.avaliacao-estrelas {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1vw;
}

avaliacao-estrelas-detalhe{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1vw;
    margin-bottom: 1vw;
}

.estrela {
    width: 1.25vw;
    height: 1.25vw;
    color: var(--dourado-estrelas);
}

.estrela.vazia {
    fill: none;
    stroke-width: 0.1vw;
    stroke: var(--dourado-estrelas);
}

.des h4:last-of-type {
    font-size: 1.25vw;
    color: var(--cor-principal-vinho);
    margin-top: auto;
    font-weight: 600;
    margin-bottom: 2vw;
}

.saiba-mais-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.saiba-mais-container a {
    text-decoration: none;
    color: var(--branco);
    background-color: var(--cor-principal-vinho);
    padding: 0.5vw 3vw;
    border-radius: 0.7vw;
    font-weight: 600;
    transition: 0.3s ease;
    font-size: 1.2vw;
}

.saiba-mais-container a:hover {
    background-color: var(--hover-vinho);

}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.image-container img {
    width: 80%;
    max-width: 150px;
    height: auto;
    border-radius: 1rem;
}


/* MINI-BANNER*/
#mini-banner {
    background-image: url("../images/mini-banner.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: top 25% right 0;
    background-repeat: no-repeat;
    text-align: center;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vw;
}

#mini-banner h3 {
    font-weight: 600;
    color: var(--branco);
}

#mini-banner h4 {
    color: var(--bege);
    font-weight: 500;
    margin-bottom: 3vw;
    margin-top: 1vw;
}


/* RODAPÉ */
.rodape {
    padding: 2vh 5vw;
    font-size: 1.2rem;
    overflow: hidden;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.25);
    margin-top: 3vw;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2vh 5vw;
}

.navegacao a,
.contatos a {
    text-decoration: none;
    color: var(--cor-principal-vinho);
    font-weight: 500;
    font-size: 1rem;
}

.contatos img {
    width: 1.5em;
    margin-right: 0.5em;
    vertical-align: middle;
}

.redes-sociais ul {
    display: flex;
    padding: 0;
}

.navegacao ul,
.contatos ul,
.redes-sociais ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.redes-sociais ul li {
    margin: 0 1vw;
}

.redes-sociais img {
    width: 3em;
}

.rodape-frase {
    text-align: center;
    background-color: var(--cinza-escuro);
    font-size: 1rem;
    padding: 2vh 0;
}

.rodape-frase p {
    color: var(--branco);
    font-weight: 200;
}

.logo-rodape {
    display: flex;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 2vw;
    border-bottom: 1px solid var(--cor-principal-vinho);
    padding-bottom: 1vw;
}

.logo-rodape img {
    width: 10vw;
}


/*CARRINHO*/
.meu-carrinho{
    padding: 2vh 5vw;
}

.conteudo {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding: 10px;
    margin-top: 1em;
    margin-left: 4em;

}

.card-row{
    margin-bottom: 3em;
}

.desc-produto-row{
    justify-content: space-between;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 9px;
    margin-bottom: 3em;
    margin-top: 2em;
    width: 50em;

}

.info-produto{
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    margin-left: 1em;
}


.botao-row{
    display: flex;
    flex-direction: row;
    border-radius: 9px;
    margin-right: 2em;
    align-items: center;
    justify-content: center;
}

th, td {
    padding: 10px;
    text-align: left;
}

.total {
    text-align: right;
    margin-top: 20px;
}



.card-column2{
    margin-left: 4em;
    margin-top: 2em;
}



.calcular{
    border: 1px solid #ddd;
    border-radius: 9px;
    padding: 1em;
    width: 30em;

}

.valor-calculo{
    border: 1px solid #ddd;
    border-radius: 9px;
    padding: 1em;
    width: 30em;
}


.desc-entrega{
    margin-top: .5em;
    margin-bottom: 2em;
}

.cep-calc{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.finalizar{
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 9px;
    padding: 1em;
    width: 30em;
}

.finalizar-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imagem-produto-carrinho{
    width: 7em;
    height: 10em;
}

.btn-remover {
    border: none;
    background: none;
}

.produto-carrinho {
    width: 20%;
}

.botao-remover-carrinho {
    background: none;
    border: none;
    padding: 0.5vw 1vw;
    cursor: pointer;
}

.botao-remover-carrinho-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.carrinho-vazio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw;
    padding: 0 12vw;
}

.quantidade-itens {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--cor-principal-vinho);
    color: white;
    border-radius: 60%;
    padding: 5px;
    font-size: 12px;
}

/* TELA DE CADASTRO */
.cep-cliente {
    display: flex;
}

.btn-buscar-cep{
    background-color: #242424;
    color: #ffffff;
    border: none;
    padding: 1vw 0;
    font-size: 1.2vw;
    border-radius: 1vw;
    cursor: pointer;
    width: 50%;
    margin-left: 1vw;
    text-align: center;
}

