@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* HEADER E NAVIGATION */
.logo-container {
    width: 100%;
    padding: 1.5vw 2vw;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 12vw;
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: #6b1d1d;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 0.8rem;
}

.dropdown-btn:hover {
    background-color: #930000;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 100px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content .btn-logout {
    background-color: transparent;
    color: black;
    border: solid 1px darkred;
    padding: 12px 16px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}

.dropdown-content .btn-logout:hover {
    background-color: #f1f1f1;
}

/* CONTAINER DE LOGIN */
.main-login, .main-index, .main-cadastro-usuario, .main-editar-usuario, .main-editar-produto,
.main-cadastro-produto, .main-cadastro-cliente, .main-perfil-cliente, .main-editar-dados-cliente,
.main-adicionar-novo-endereco, .endereco-container, .pagamento-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.form-container {
    background-color: #fff;
    margin: 2vh;
    padding: 3vw;
    border-radius: 2vw;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.15);
    width: 35vw;
    text-align: center;
}

.form-title {
    margin-bottom: 3vw;
    color: #5C0A0A;
    font-size: 1.8vw;
    font-weight: bold;
}

.input-group {
    margin-bottom: 1.5vw;
    text-align: left;
}

label {
    margin-bottom: 0.5vw;
    color: darkred;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 1vw;
    border: 2px solid gray;
    border-radius: 1vw;
    font-size: 1vw;
}

input:focus {
    border-color: #6b1d1d;
    outline: none;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-padrao {
    background-color: #6b1d1d;
    color: #fff;
    border: none;
    padding: 1vw 0;
    font-size: 1.2vw;
    border-radius: 1vw;
    cursor: pointer;
    width: 100%;
    text-align: center;
    line-height: 1.6vw;
    margin: 2.5vw 0 1.5vw;
    text-decoration: none;
}

.btn-padrao:hover {
    background-color: #930000;
}

.btn-cancel {
    text-decoration-line: underline;
    color: #6b1d1d;
    font-size: 1vw;
    width: 100%;
    margin-top: 1vw;
    cursor: pointer;
    background: none;
    border: none;
}

.error-message {
    color: #b91c1c;
    font-size: 1vw;
    margin-top: 1vw;
    text-align: center;
}

/* BOTÕES DE REGISTRO */
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-register {
    background-color: #6b1d1d;
    color: #fff;
    border: none;
    padding: 15px 40px;
    font-size: 1.125rem;
    border-radius: 16px;
    cursor: pointer;
    margin: 25px 0;
    width: 300px;
    height: 60px;
}

.btn-register:hover {
    background-color: #930000;
}

.btn-voltar {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    align-self: flex-start;
    margin: 2vw 5vh;
}

.btn-voltar img {
    width: 2vw;
    height: auto;
}

.btn-voltar:hover img {
    opacity: 0.7;
}

.select-field {
    width: 100%;
    padding: 1vw;
    border: 2px solid gray;
    border-radius: 1vw;
    font-size: 1vw;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #ccc;
}

.select-field:focus {
    border-color: #6b1d1d;
    outline: none;
}

.btn-limpar {
    background-color: #242424;
    color: #ffffff;
    border: none;
    padding: 1vw 0;
    font-size: 1.2vw;
    border-radius: 1vw;
    cursor: pointer;
    width: 100%;
    text-align: center;
    line-height: 1.6vw;
}

.btn-limpar:hover {
    background-color: #000000;
}

/*LISTAR USUÁRIO*/

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vh;
}

#search {
    width: 85%;
    border: 2px solid gray;
    border-radius: 1vw;
    font-size: 1vw;
    padding-left: 4vw;
    background: url('https://img.icons8.com/ios-glyphs/30/000000/search.png') no-repeat 10px center;
}

.btn-cadastro {
    text-decoration: none;
    color: #ffffff;
    background-color: #5C0A0A;
    padding: 1vw 2vw;
    border-radius: 1vw;
    font-size: 1vw;
    cursor: pointer;
}

.btn-cadastro:hover {
    background-color: #930000;
}

.lista-usuario-container {
    padding: 0 5vh;
}

.main-lista-usuario {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#tabela-usuarios {
    width: 100%;
}

.lista-title {
    font-weight: bold;
    font-size: 1.5vw;
    margin-bottom: 4vh;
}

/* Estilos da tabela */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #242424;
    color: white;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

td a {
    color: #4682B4;
    text-decoration: none;
}


.text-center {
    text-align: center;
}

.table-actions a {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.btn-edit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #D29000;
    color: #ffffff;
    padding: 0.5vw 2vw;
    border-radius: 10px;
    font-size: 1vw;
    border: none;
    cursor: pointer;
    background-image: url('https://img.icons8.com/ios-glyphs/30/ffffff/edit.png');
    background-repeat: no-repeat;
    background-size: 1.3vw;
    background-position: 10px center;
    padding-left: 3vw;
}

.btn-edit:hover {
    background-color: #A66F00;
}

.btn-visu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #00730B;
    color: #ffffff;
    padding: 0.5vw 2vw;
    border-radius: 10px;
    font-size: 1vw;
    border: none;
    cursor: pointer;
    background-image: url('https://img.icons8.com/ios-glyphs/30/ffffff/visible.png');
    background-repeat: no-repeat;
    background-size: 1.3vw;
    background-position: 10px center;
    padding-left: 3vw;
}

.btn-visu:hover {
    background-color: #003105;
}

.btn-acao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.btn-toggle-status {
    background-color: #ffffff;
}

.btn-adicionar-carrinho.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

.checkbox-toggle-status {
    transform: scale(0.5);
    margin-right: 0.7vh;
    cursor: pointer;
    appearance: none;
    width: 1vw;
    background-color: #ffffff;
    border: 2px solid #007bff;
    border-radius: 5px;
    position: relative;
    vertical-align: middle;
}

.checkbox-toggle-status:checked {
    background-color: #007bff;
    border-color: #007bff;
}

.checkbox-toggle-status:checked::after {
    content: '✔';
    color: white;
    font-size: 1.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkbox-toggle-status + label {
    margin-left: 5px;
    color: #000000;
    vertical-align: middle;
    cursor: pointer;
    font-weight: normal;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.save, .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.save, .close:hover,
.save, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tittle-endereco-entrega {
    margin-bottom: 2vw;
    margin-top: 3vw;
    color: #5C0A0A;
    font-size: 1.8vw;
    font-weight: bold;
}

.btn-copiar-endereco {
    font-weight: normal;
    font-size: 1vw;
    color: black;
}

.profile-container {
    width: 40vw;
    padding: 3vw;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.profile-details p {
    font-size: 18px;
    margin: 10px 0;
    color: #555;
}

.profile-details p strong {
    color: #000;
}

.button-container-cliente {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    gap: 2vw;
}

.main-lista-enderecos {
    padding: 3vw;
}

.endereco-faturamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    border-radius: 1vw;
    margin-bottom: 1vw;
}

.endereco-faturamento-container {
    width: 40%;
    padding: 3vw;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.lista-enderecos {
    display: flex;
    justify-content: space-between;
    margin-top: 3vw;
}

.btn-novo-endereco {
    background-color: #6b1d1d;
    color: #fff;
    border: none;
    padding: 1vw 2vw;
    font-size: 1.2vw;
    border-radius: 1vw;
    cursor: pointer;
    text-align: center;
    line-height: 1.6vw;
}

.campo-cep {
    display: flex;
    gap: 1vw;
}

