<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
  <footer>
    <div class="rodape">
      <a href="/" class="logo-rodape">
        <img th:src="@{/images/logo_winery.png}" alt="logo_winery">
      </a>
      <div class="footer-container">
        <div class="navegacao">
          <ul>
            <li><a href="/">Início</a></li>
            <li><a href="#produtos1">Produtos</a></li>
          </ul>
        </div>
        <div class="contatos">
          <ul>
            <li>
              <a href="#"><img th:src="@{/images/phone.svg}" alt="telefone"/> (11) 3881-3637</a>
            </li>
            <li>
              <a href="#"><img th:src="@{/images/whatsapp.svg}" alt="whatsapp"/> (11) 98066-7105</a>
            </li>
            <li>
              <a href="#"><img th:src="@{/images/email.svg}" alt="email"/> winery@gmail.com</a>
            </li>
          </ul>
        </div>
        <div class="redes-sociais">
          <ul>
            <li>
              <a href="#"><img th:src="@{/images/linkedin.svg}" alt="linkedin"/></a>
            </li>
            <li>
              <a href="#"><img th:src="@{/images/facebook.svg}" alt="facebook"/></a>
            </li>
            <li>
              <a href="#"><img th:src="@{/images/instagram.svg}" alt="instagram"/></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="rodape-frase">
      <p>Winery - Projeto Integrador - 4ª Semestre</p>
    </div>
  </footer>
</div>
</body>
</html>
