<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<div th:fragment="header">
    <section id="header">
        <a href="/"><img alt="logo_winery" class="logo" th:src="@{/images/logo_winery.png}"></a>

        <div>
            <ul id="navbar">
                <li><a class="active" href="/">Início</a></li>
                <li><a class="link-navbar" href="/">Produtos</a></li>
                <li>
                    <a href="/carrinho">
                        <img alt="carrinho" th:src="@{/images/sacola.png}">
                        <span class="quantidade-itens" th:text="${carrinho != null ? carrinho.itens.size() : 0}"></span>
                    </a>
                </li>

                <li sec:authorize="isAuthenticated()">
                    <div class="dropdown">
                        <a class="icone-navbar"><img alt="user" th:src="@{/images/user.png}"></a>
                        <div class="dropdown-content">
                            <a href="/pedido">Visualizar Pedidos</a>
                            <a href="/cliente/perfil">Editar Perfil</a>
                            <a href="/cliente/logout" onclick="confirmarLogout()">Sair</a>
                        </div>
                    </div>
                </li>

                <li sec:authorize="!isAuthenticated()">
                    <a class="icone-navbar" href="/login"><img alt="login" th:src="@{/images/user.png}"></a>
                </li>
            </ul>
        </div>
    </section>
</div>
</body>
</html>
