<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="tabela-produtos">
    <table>
        <thead>
        <tr>
            <th>Imagem Principal</th>
            <th>Nome</th>
            <th>Avaliação</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="produto : ${produtos}">
            <td>
                <img th:src="@{'/imagem/' + ${produto.imagemPrincipal.id}}" alt="Imagem Principal" width=80px/>
            </td>
            <td th:text="${produto.nome}">Nome</td>
            <td th:text="${produto.avaliacao}">Avaliação</td>
            <td th:text="${produto.descricao}">Descrição</td>
            <td th:text="${produto.preco}">Preço</td>
            <td th:text="${produto.qtdEstoque}">Quantidade</td>
            <td th:text="${produto.ativado ? 'Ativo' : 'Inativo'}"></td>

            <td class="text-center">
                <a class="btn-edit" th:href="@{/editar-produto(id=${produto.id})}" th:if="${produto.ativado}">Editar</a>
                <a class="btn-edit" href="javascript:void(0);" onclick="showInactiveProductError()" th:unless="${produto.ativado}">Editar</a>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>