<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tabela de Resumo de Pedido</title>
</head>
<body>
<div th:fragment="tabela-itens-pedido">
    <table border="1" id="tabela-itens-pedido">
        <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Valor Total</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${pedido.itens}">
            <td th:text="${item.produto.nome}"></td>
            <td th:text="${item.quantidade}"></td>
            <td th:text="${'R$ ' + #numbers.formatDecimal(item.valorItem, 1, 2)}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
