<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gerenciar Pedidos</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:fragment="tabela-pedidos-estoquista">
    <table border="1" id="tabela-pedidos-estoquista">
        <thead>
        <tr>
            <th>Número do Pedido</th>
            <th>Data</th>
            <th>Valor Total</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pedido : ${pedidos}">
            <td th:text="*{pedido.numeroPedido}"></td>
            <td th:text="${#dates.format(pedido.dataPedido, 'dd/MM/yyyy')}"></td>
            <td th:text="${'R$ ' + #numbers.formatDecimal(pedido.valorComFrete, 1, 2)}"></td>
            <td th:text="${pedido.status}"></td>
            <td>
                <a class="btn-edit" th:href="@{/pedido/editar(id=${pedido.id})}">Editar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
